<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.hhrepository.mapper.BuyListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.hhrepository.entity.BuyList">
        <id column="buy_id" property="buyId" />
        <result column="product_id" property="productId" />
        <result column="store_id" property="storeId" />
        <result column="buy_num" property="buyNum" />
        <result column="fact_buy_num" property="factBuyNum" />
        <result column="buy_time" property="buyTime" />
        <result column="supply_id" property="supplyId" />
        <result column="place_id" property="placeId" />
        <result column="buy_user" property="buyUser" />
        <result column="phone" property="phone" />
        <result column="is_in" property="isIn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        buy_id, product_id, store_id, buy_num, fact_buy_num, buy_time, supply_id, place_id, buy_user, phone, is_in
    </sql>

</mapper>
